---
title: 
---

<header class="header header--work">
	<div class="header--work_breadcrumbs">
		<a href="/">
			<%= partial "components/icon-link/icon-link" %>
		</a>
	</div>

	<div class="header--work_logo brand--<%= work.className %>"></div>

	<div class="header--work_info">
		<h1 class="work-title"><%= work.title %></h1>
		<h2 class="work-role"><%= work.role %></h2>
		<p class="work-description"><%= work.description %></p>
	</div>
</header>

<main class="main main--work">

	<ul class="main--home_work grid">
		<% data.homeWork.works.each do |sample| %>
		<li class="main--home_work_sample work-effect">
			<a class="main--home_work_sample_page home-work--<%= sample.href %> work-image" href="project-<%= sample.href%>">
			</a>
		</li>
		<% end %>
	</ul>

	<a class="btn" href="/">
		<%= partial "components/icon-link/icon-link" %>
	</a>
</main>
