---
title: Projects | Becky Sroufe | UI Designer & Front End Developer
---

<header class="header header--work">
	<div class="header--work_breadcrumbs">
		<a href="/">
			<%= partial "components/icon-link/icon-link" %>
		</a>
	</div>

	<div class="header--work_logo brand--<%= work.className %>"></div>

	<div class="header--work_info">
		<h1 class="work-title"><%= work.title %></h1>
		<h2 class="work-role"><%= work.role %></h2>
		<p class="work-description"><%= work.description %></p>
	</div>
</header>

<div class="main-container container--work">
	<main class="main main--work">

		<ul class="main--home_work grid">
			<% work.screens.each do |screen| %>
			<li class="main--home_work_sample work-effect">
				<a class="js-open-modal main--home_work_sample_page home-work-- work-image" href="#" data-modal-id="js-popup-<%= screen.className %>">
					<img src="<%= screen.img %>" alt="" title="" />
				</a>

				<div id="js-popup-<%= screen.className %>" class="modal">
					<a href="#" class="js-modal-close close">×</a>
					<img src="<%= screen.img %>" alt="" title="" />
				</div>
			</li>
			<% end %>

			<a class="btn btn-previous" href="/">
				<%= partial "components/icon-link/icon-link" %>
			</a>
		</ul>
	</main>
</div>
